<!DOCTYPE HTML>
<html>
<head>
<base href="<%=basePath%>">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/ClientRelations_action/admin/layui/css/layui.css">
		<link rel="icon" href="/favicon.ico">
		<script type="text/javascript" src="/ClientRelations_action/admin/js/jquery-1.8.3.min.js"></script>
		<title></title>
		<style type="text/css">
			
			.drSpan{
				display: inline-block;
				height: 38px;
				line-height: 38px;
			}
			.layui-inline{
				width: 210px;
			}
			.layui-breadcrumb{
				font-size: 17px;
			}
			.daohan{
				    margin-top: 20px;
				    margin-left: 21px;
				    margin-bottom: 20px;
			}
			.layui-form{
				
				padding: 0px 20px;
				padding-top:20px;
				padding-right: 5px;
			}
		</style>
	</head>

	<body class="layui-view-body">
		
		<form class="layui-form" action="" lay-filter="example">
			
    		<div class="layui-form-item">
    			<div class="layui-inline">
					<label class="layui-form-label">计划编码:</label>
					<div class="layui-input-block" >
						<span class="planId drSpan"></span>
				    </div>
				</div>
    			<div class="layui-inline">
					<label class="layui-form-label">计划人姓名:</label>
					<div class="layui-input-block" >
						<span class="sellingName drSpan"></span>
				    </div>
				</div>
			</div>
			
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">计划月份:</label>
					<div class="layui-input-block" style="width: 100px;">
						<span class="planMonth drSpan"></span>
				    </div>
				</div>
    			<div class="layui-inline">
					<label class="layui-form-label">目标金额:</label>
					<div class="layui-input-block" style="width: 120px;">
						<span class="money drSpan"></span>					
				    </div>
				</div>
			</div>
			
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">计划内容:</label>
				<div class="layui-input-block" >
					<span class="planContent" style="position: relative;top: 9px;"></span>		
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">计划状态:</label>
				<div class="layui-input-block" style="width: 165px;">
			      <select name="state" lay-filter="aihao" class="state">
			      	<option value="">待审核</option>
			      	<option value="2">未通过</option>
			      	<option value="3">已通过</option>
			      </select>
			    </div>
			</div>
			<div class="layui-form-item" style="margin-top: 15px;">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-right: 20px;">提交</button>
					<button  class="layui-btn result">返回</button>
				</div>
			</div>
		</form>

		<script src="/ClientRelations_action/admin/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			  
			layui.use(['form', 'layedit', 'laydate','element'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;
					element = layui.element;

				//日期
				laydate.render({
					elem: '#date'
					,type: 'month'
				});
  
				
				form.on('submit(demo2)', function(data) {
					
					var a = $(".state").val();
					var planId = $(".planId").text();
					if (a == "") {
						layer.msg("请先审核");
					}else{
						$.ajax({
							type:"post",
							url:"/ClientRelations_action/examineState",
							data:"state="+a+"&planId="+planId,
							success:function(t){
								closeIndex(t.msg);
							}
						}) 
					}
					
					return false;
				});
				
				
				function closeIndex(msg){
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.msg(msg,{icon:1});
					parent.layer.close(index);
					parent.refreshTable();
				}
				$(".result").click(function(){
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.close(index); //关闭父窗口
				})
				 
			});
		</script>
	</body>
</html>