<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layui/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>销售预测</title>
<style type="text/css">
</style>
</head>

<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">销售管理</a> <a><cite>销售预测</cite></a>
				</span>
				<h2 class="title">销售预测</h2>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<div class="layui-inline">
								<div class="layui-form-mid">月份：</div>
								<div class="layui-input-inline">
							        <input type="text" class="layui-input startTime" id="test1" placeholder="">
							    </div>
								<button class="layui-btn layui-btn-blue refer_but">查询</button>
							</div>
						</div>
						
						<table class="layui-hide" id="test" lay-filter="test"></table>
 						<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="see">查看</a>
	 					</script>
						<script type="text/html" id="toolbarDemo">
						  <div class="layui-btn-container">
						  	<button class="layui-btn  layui-btn-sm layui-btn-blue" lay-event="add" >
								预测
							</button>
						  </div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../layui/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#test'
    ,url:"/ClientRelations_action/selectForecastPage"
    ,toolbar: '#toolbarDemo'
    ,cols: [[
      {field:'forecastId', width:80, title: 'ID', sort: true}
      ,{field:'title', minWidth: 210, title: '预测结果'}
      ,{field:'forecastMonth', width:120, title: '预测月份'}
      ,{field:'typeName', width:120,minWidth: 120 ,title: '类型'}
      ,{field:'foundTime',title: '生成时间', minWidth: 205,sort: true}
      ,{field:'staffName', minwidth:110, title: '操作人'}
      ,{width:65,title:"操作",toolbar:"#barDemo"}
    ]]
    ,page: true
  });
table.on('toolbar(test)', function(obj){
   var checkStatus = table.checkStatus(obj.config.id)
   ,data = checkStatus.data; //获取选中行状态
   switch(obj.event){
     case 'add':
   	  layer.open({
 			type:2,
 			content:"addAorecast.html",
 			area:['480px', '387px'],
 			shade: [0.8, '#393D49'],
 			move:false,
 			shadeClose:true,
 		});
     break;
   };
});
  
	//监听工具条
	table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	   	var data = obj.data; //获得当前行数据
	   	var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	   	var tr = obj.tr; //获得当前行 tr 的DOM对象
	   	if(layEvent == 'see') { //查看
	   		addAorecast.html
	   	} 
	});
	
});

	function refreshTable(){
		layui.table.reload('test',
        {
             where: { //这里传参  向后台
             	name:$(".startTime").val(),
             } 
             ,limit:5
 			 ,limits:[5,10,15,20]
        });
	}
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#test1' //指定元素
  });
});
</script>
</body>
</html>