<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
<title>销售计划</title>
<style type="text/css">
</style>
</head>

<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">销售管理</a> <a><cite>销售计划</cite></a>
				</span>
				<h2 class="title">销售计划</h2>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<div class="layui-inline">
								<div class="layui-form-mid">月份：</div>
								<div class="layui-input-inline">
							        <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
							    </div>
								<button class="layui-btn layui-btn-blue refer_but">查询</button>
							</div>
						</div>
						<button class="layui-btn layui-btn-blue add_but">
							<i class="layui-icon">&#xe654;</i>新增
						</button>
						<table class="layui-hide" id="test" lay-filter="test"></table>
 						<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-xs " lay-event="see">查看</a>
	    					<a class="layui-btn layui-btn-xs " lay-event="edit">修改</a>
	    					<a class="layui-btn layui-btn-xs " lay-event="del">删除</a>
	    					<a class="layui-btn layui-btn-xs " lay-event="submission">提交</a>
	    					
	 					</script>
						<script type="text/html" id="toolbarDemo">
						  <div class="layui-btn-container">
						   
						  </div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../layui/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#test'
   
    ,toolbar: '#toolbarDemo'
    ,cols: [[
      {field:'planId', width:80, title: 'ID', sort: true}
      ,{field:'sellingName', width:80, title: '姓名'}
      ,{field:'planMoth', width:100, title: '月份', sort: true}
      ,{field:'state', width:80, title: '状态'}
      ,{field:'lastTime',width:250, title: '最后操作时间', minWidth: 100,sort: true}
      ,{field:'operatorName', width:80, title: '操作人'}
      ,{field:'pendingName', width:100, title: '待处理人' }
      ,{width:210,title:"操作",toolbar:"#barDemo"}
      
    ]]
    ,data: [{//测试使用
		"planId": "10001"
		,"sellingName": "杜甫"
		,"planMoth": "x"
		,"pendingName": "男"
	}]
    ,page: true
  });
  
  
	//监听工具条
	table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	   	var data = obj.data; //获得当前行数据
	   	console.log(data);
	   	var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	   	var tr = obj.tr; //获得当前行 tr 的DOM对象
	   	if(layEvent == 'see') { //查看
	
	   	} else if(layEvent === 'del') { //删除
	
	   	} else if(layEvent === 'edit') { //修改
	
	   	} else if(layEvent === 'submission') {//提交
	
	   	}
	});

});

layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#test1' //指定元素
  });
});
</script>
</body>
</html>