<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>example</title>
</head>
<body>
    <div>
        <p>客户数量分布图</p>
        <canvas id="pie_1" width="750" height="600"></canvas>
    </div>
    <div>
        <p>同步环比增长图</p>
        <canvas id="pie_2" width="750" height="600"></canvas>
    </div>
    <script src="../../js/donut-chart.min.js"></script>
    <script>
        var option = {
            type: 'pie', // pie 环形图|| gauge 计量图
            title: {
                show: true,
                text: '总人数(个)',
                textStyle: {
                    fontSize: "20px",
                    lineHeight: "30px",
                    color: '#9f9f9f'
                },
                subtext: '360',
                subtextStyle: {
                    fontSize: "30px",
                    lineHeight: "35px",
                    color: '#e53344'
                },
                x: '10%',
                y: "10%",
            },
            tooltip: {
                show: true,
                fontStyle: "normal",
                fontVariant: "normal",
                fontWeight: 'normal',
                fontSize: "20px",
                lineHeight: "30px",
                fontFamily: 'Arial',
                color: 'white',
                backgroundColor: '#00000099',
                formatter: function (param) {
                    var str = "{a|" + param.name + "}" + "{c|" + param.percent + "}" + '\n' + "{b|" + param.value +
                        "人}"
                    return str
                },
                rich: {
                    a: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',
                        color: 'white',
                    },
                    c: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'normal',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',
                        color: 'white',
                    },
                    b: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "30px",
                        lineHeight: "35px",
                        fontFamily: 'Arial',
                        color: '#e53344',
                    }
                }
            },
            x: "50%",
            y: "50%",
            radius: "30%",
            lineWidth: "5%",
            data: [{
                name: "账户余额(人)",
                value: 110,
            }, {
                name: "散标待回(人)",
                value: 120,
            }, {
                name: "在途资金(人)",
                value: 130,
            }],
            label: {
                show: true,
                fontStyle: "normal",
                fontVariant: "normal",
                fontWeight: 'bold',
                fontSize: "20px",
                lineHeight: "30px",
                fontFamily: 'Arial',
                color: '#9f9f9f',
                formatter: function (param) {
                    var str = "{a|" + param.name + "}" + "{c|" + param.percent + "}" + '\n' + "{b|" + param.value +
                        "元}"
                    return str
                },
                rich: {
                    a: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',

                    },
                    b: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "30px",
                        lineHeight: "35px",
                        fontFamily: 'Arial',
                        color: '#e53344',
                    },
                    c: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',

                    }
                }
            },
            capType: "round",
            selectedStyle: {
                color: "white",
                borderWidth: 10
            },
            color: ["#fe7c00", "#e83227", "#32a676"],
            labelCoverTitle: false,
            backgroundArc: '#999'
        }
        var cir1 = new DonutChart('pie_1', option)

        cir1.init(function (result) {
            console.log(result)
        })

        var option2 = {
            type: 'pie', // pie 环形图|| gauge 计量图
            title: {
                show: true,
                text: '总资产(元)',
                textStyle: {
                    fontSize: "20px",
                    lineHeight: "30px",
                    color: '#9f9f9f'
                },
                subtext: '360',
                subtextStyle: {
                    fontSize: "30px",
                    lineHeight: "35px",
                    color: '#e53344'
                },
                x: '50%',
                y: "50%",
            },
            tooltip: {
                show: true,
                fontStyle: "normal",
                fontVariant: "normal",
                fontWeight: 'normal',
                fontSize: "20px",
                lineHeight: "30px",
                fontFamily: 'Arial',
                color: 'white',
                backgroundColor: '#00000099',
                formatter: function (param) {
                    var str = "{a|" + param.name + "}" + "{c|" + param.percent + "}" + '\n' + "{b|" + param.value +
                        "元}"
                    return str
                },
                rich: {
                    a: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',
                        color: 'white',
                    },
                    c: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'normal',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',
                        color: 'white',
                    },
                    b: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "30px",
                        lineHeight: "35px",
                        fontFamily: 'Arial',
                        color: '#e53344',
                    }
                }
            },
            x: "50%",
            y: "50%",
            radius: "30%",
            lineWidth: "5%",
            data: [{
                name: "账户余额(元)",
                value: 90,
            }, {
                name: "散标待回(元)",
                value: 50,
            }, {
                name: "在途资金(元)",
                value: 220,
            }],
            label: {
                show: true,
                fontStyle: "normal",
                fontVariant: "normal",
                fontWeight: 'bold',
                fontSize: "20px",
                lineHeight: "30px",
                fontFamily: 'Arial',
                color: '#9f9f9f',
                formatter: function (param) {
                    var str = "{a|" + param.name + "}" + "{c|" + param.percent + "}" + '\n' + "{b|" + param.value +
                        "元}"
                    return str
                },
                rich: {
                    a: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',

                    },
                    b: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "30px",
                        lineHeight: "35px",
                        fontFamily: 'Arial',
                        color: '#e53344',
                    },
                    c: {
                        fontStyle: "normal",
                        fontVariant: "normal",
                        fontWeight: 'bold',
                        fontSize: "20px",
                        lineHeight: "30px",
                        fontFamily: 'Arial',

                    }
                }
            },
            capType: "round",
            selectedStyle: {
                color: "white",
                borderWidth: 10
            },
            color: ["#fe7c00", "#e83227", "#32a676"],
            labelCoverTitle: true,
            backgroundArc: '#999'
        }
        var cir2 = new DonutChart('pie_2', option2)
        cir2.init(function (result) {
            console.log(result)
        })
    </script>
</body>

</html>