<!DOCTYPE HTML>
<html>
<head>
<base href="<%=basePath%>">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/ClientRelations_action/admin/layui/css/layui.css">
		<link rel="icon" href="/favicon.ico">
		<script type="text/javascript" src="/ClientRelations_action/admin/js/jquery-1.8.3.min.js"></script>
		<title></title>
		<style type="text/css">
			.allotSpan{
				display: inline-block;
				height: 38px;
				line-height: 38px;
			}
			
			
			/* .layui-textarea{
				width: 300px;
			} */
			.layui-breadcrumb{
				font-size: 17px;
			}
			.daohan{
				    margin-top: 20px;
				    margin-left: 21px;
				    margin-bottom: 20px;
			}
			.layui-form{
				padding: 0px 50px;
			}
			
		</style>
	</head>

	<body class="layui-view-body">
		
		<div class="daohan">
			<span class="layui-breadcrumb">
			  <a href="javascript:;">服务管理</a>
			  <a><cite>服务处理</cite></a>
			</span>
		</div>
		<form class="Updateform layui-form" action="" lay-filter="example">
			<div class="layui-form-item">
				<label class="layui-form-label">服务名称:</label>
				<div class="layui-input-block">
					<span class="serveName allotSpan"></span>
			    </div>
			</div>
			<div class="layui-form-item">
				<input type="hidden" class="aid allotSpan" name="id">
				<div class="layui-inline" style="width: 180px;">
					<label class="layui-form-label">服务类型:</label>
					<div class="layui-input-block">
						<span class="serveType allotSpan"></span>
				    </div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">联系电话:</label>
					<div class="layui-input-block">
						<span class="phone allotSpan"></span>
				    </div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="width: 160px;">
					<label class="layui-form-label">创建人:</label>
					<div class="layui-input-block">
						<span class="createBy allotSpan"></span>
				    </div>
				</div>
				<div class="layui-inline" style="width: 260px;">
					
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="width: 160px;">
					<label class="layui-form-label" >待处理人:</label>
					<div class="layui-input-block">
						<span class="pendingPeople allotSpan"></span>
				    </div>
				</div>
				<div class="layui-inline" style="width: 260px;">
					<label class="layui-form-label" style="width: 100px;">服务状态:</label>
					<div class="layui-input-block">
						<span class="serveState allotSpan"></span>
				    </div>
				</div>
			</div>
			<div class="layui-form-item" >
				<label class="layui-form-label" >服务内容:</label>
				<div class="layui-input-block">
					<span class="serveContent allotSpan" style="margin-top: 9px;line-height: 20px;">郑州廖先生来电咨询我司氧气发生器的价格，有购买意向，需跟进。</span>
			    </div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">处理结果:</label>
				<div class="layui-input-block" style="width: 165px;">
			      <select name="serveState" lay-filter="aihao" class="dr_select">
			        <option value="已处理">已处理</option>
			        <option value="已提交">无法处理</option>
			      </select>
			    </div>
			</div>
			 <div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">备注:</label>
			    <div class="layui-input-block">
			      <textarea name="comment" style = "width:400px; placeholder="请输入备注内容" class="layui-textarea"></textarea>
			    </div>
			  </div>
			<div class="layui-form-item">
				<div class="layui-input-block" style="padding-left:55px;">
				
					<!-- <button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-right: 20px;border-radius: 28px;">保存</button> -->
					<button class="layui-btn layui-btn-normal" id="sub" lay-submit lay-filter="formDemo" style="margin-right: 20px;border-radius: 28px;">保存</button>
					<button  class="layui-btn result" style="border-radius: 28px;">返回</button>
				</div>
			</div>
		</form>

		<script src="/ClientRelations_action/admin/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form', 'layedit', 'laydate','element'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;
					element = layui.element;

				//日期
				laydate.render({
					elem: '#date'
				});

				
				/* 处理 */
				var form = layui.form;
				form.on('submit(formDemo)',function(data){
					$.ajax({
						//发送请求
						url : '../../../serveDispose',
						type : "POST",
						data : $(".Updateform").serializeArray(),
						datatype:"json",
						success:function(date){
							if(date.code > 0){
								layui.use('layer', function(){
				    				var layer = layui.layer;
				    				layer.msg("处理成功",{time:2100,icon:1},function(){
				     					var index = parent.layer.getFrameIndex(window.name);
				     					//关闭弹出框
				        				parent.layer.close(index);
				    				})
					    		});
							}else{
								/* layui.use('layer', function(){
									var layer = layui.layer;
									layer.msg("无法处理,请重新分配！",{icon:3});
									
								}) */
								layui.use('layer', function(){
				    				var layer = layui.layer;
				    				layer.msg("无法处理,请重新分配服务！",{time:2100,icon:3},function(){
				     					var index = parent.layer.getFrameIndex(window.name);
				     					//关闭弹出框
				        				parent.layer.close(index);
				    				})
					    		});
							}
						}
					});
					return false;
				});
				
				
				function closeIndex(msg){
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.msg(msg);
					parent.layer.close(index);
					parent.refreshTable();
				}
				
				
				$(".result").click(function(){
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.close(index); //关闭父窗口
					
				})
				function referForm(){
					 form.render(); 
				} 
				 
			});
		</script>
	</body>
</html>