<!DOCTYPE HTML>
<html>
<head>
<base href="<%=basePath%>">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/ClientRelations_action/admin/layui/css/layui.css">
		<link rel="icon" href="/favicon.ico">
		<script type="text/javascript" src="/ClientRelations_action/admin/js/jquery-1.8.3.min.js"></script>
		<title></title>
		<style type="text/css">
			.allotSpan{
				display: inline-block;
				height: 38px;
				line-height: 38px;
			}
			
			
			/* .layui-textarea{
				width: 300px;
			} */
			.layui-breadcrumb{
				font-size: 17px;
			}
			.daohan{
				    margin-top: 20px;
				    margin-left: 21px;
				    margin-bottom: 20px;
			}
			.layui-form{
				padding: 0px 50px;
			}
			
		</style>
	</head>

	<body class="layui-view-body">
		
		<div class="daohan">
			<span class="layui-breadcrumb">
			  <a href="javascript:;">服务管理</a>
			  <a><cite>服务分配</cite></a>
			</span>
		</div>
		<form class="layui-form" action="" lay-filter="example">
			<input type="hidden" class="formChanceId">
			<div class="layui-form-item">
				<label class="layui-form-label">服务名称:</label>
				<div class="layui-input-block">
					<span class="chanceName allotSpan">廖先生咨询氧气发生器</span>
			    </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="width: 180px;">
					<label class="layui-form-label">服务类型:</label>
					<div class="layui-input-block">
						<span class="typeName allotSpan">售前服务</span>
				    </div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">联系电话:</label>
					<div class="layui-input-block">
						<span class="typeName allotSpan">15801881818</span>
				    </div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="width: 160px;">
					<label class="layui-form-label">创建人:</label>
					<div class="layui-input-block">
						<span class="entryName allotSpan">魏丽</span>
				    </div>
				</div>
				<div class="layui-inline" style="width: 260px;">
					<label class="layui-form-label" style="width: 100px;">创建时间:</label>
					<div class="layui-input-block">
						<span class="entryTime allotSpan">2013-10-15 09:24:55</span>
				    </div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="width: 160px;">
					<label class="layui-form-label" >待处理人:</label>
					<div class="layui-input-block">
						<span class="handleName allotSpan">魏丽</span>
				    </div>
				</div>
				<div class="layui-inline" style="width: 260px;">
					<label class="layui-form-label" style="width: 100px;">服务状态:</label>
					<div class="layui-input-block">
						<span class="lastTime allotSpan">已提交</span>
				    </div>
				</div>
			</div>
			<div class="layui-form-item" >
				<label class="layui-form-label" >机会内容:</label>
				<div class="layui-input-block">
					<span class="chanceContent allotSpan" style="margin-top: 9px;line-height: 20px;">郑州廖先生来电咨询我司氧气发生器的价格，有购买意向，需跟进。</span>
			    </div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">处理结果:</label>
				<div class="layui-input-block" style="width: 165px;">
			      <select name="typeId" lay-filter="aihao" class="dr_select">
			        <option value="1">已反馈</option>
			        <option value="2">未反馈</option>
			      </select>
			    </div>
			</div>
			 <div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">备注:</label>
			    <div class="layui-input-block">
			      <textarea name="comment" style = "width:400px; placeholder="请输入备注内容" class="layui-textarea"></textarea>
			    </div>
			  </div>
			<div class="layui-form-item">
				<div class="layui-input-block" style="padding-left:55px;">
				
					<button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-right: 20px;    border-radius: 28px;">保存</button>
					
					<button  class="layui-btn result" style="border-radius: 28px;">返回</button>
				</div>
			</div>
		</form>

		<script src="/ClientRelations_action/admin/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form', 'layedit', 'laydate','element'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;
					element = layui.element;

				//日期
				laydate.render({
					elem: '#date'
				});

				
				/* 增加 */
				form.on('submit(demo2)', function(data) {
					var staffId = 1;
					var chanceId = $(".formChanceId").val();
					
					$.ajax({
						type:"post",
						url:"/ClientRelations_action/updateAllotHap",
						data:"staffId="+staffId+"&chanceId="+chanceId,
						success:function(t){
							closeIndex(t.msg);
						}
					})
					return false;
				});
				
				
				function closeIndex(msg){
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.msg(msg);
					parent.layer.close(index);
					parent.refreshTable();
				}
				
				
				$(".result").click(function(){
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.close(index); //关闭父窗口
					
				})
				function referForm(){
					 form.render(); 
				} 
				 
			});
		</script>
	</body>
</html>