<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layui/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>服务创建</title>
<style type="text/css">
</style>
</head>

<body class="layui-view-body">
	
	
	<div id="editDiv" style="display:none">
		<form class="Updateform layui-form" lay-filter="updateServe">
		<input type="text" id="id" name="id" style="display: none">
		  <div class="layui-form-item">
		    <label class="layui-form-label">*服务名称</label>
		    <div class="layui-input-block">
		      <input type="text" name="serveName" required  lay-verify="required" placeholder="请输入服务名称" autocomplete="off" class="layui-input serveName" style = "width:600px;">
		    </div>
		  </div>
		  <div class="layui-form-item" style="width: 710px;">
		    <label class="layui-form-label">*服务类型</label>
		    <div class="layui-input-block" >
		      <select name="serveType" lay-verify="required">
		      	<option value=""></option>
		        <option value="咨询服务">咨询服务</option>
		        <option value="投诉服务">投诉服务</option>
		        <option value="售前服务">售前服务</option>
		        <option value="售后服务">售后服务</option>
		      </select>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">*服务客户</label>
		      <div class="layui-input-inline" style="width: 270px;">
		        <input type="text" name="serveClient" style = "width:250px"; required  lay-verify="required" placeholder="请输入客户名" autocomplete="off" class="layui-input">
		      </div>
		      <div class="layui-form-mid">*联系电话</div>
		      <div class="layui-input-inline" style="width: 300px;">
		        <input type="text" name="phone" style = "width:250px"; required  lay-verify="required|phone" placeholder="请输入客户电话号码" autocomplete="off" class="layui-input">
		      </div>
		    </div>
		  </div>
		  <div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">服务内容</label>
		    <div class="layui-input-block">
		      <textarea name="serveContent" style = "width:600px"; placeholder="请输入服务内容" class="layui-textarea"></textarea>
		    </div>
		  </div>
		  <div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">备注</label>
		    <div class="layui-input-block">
		      <textarea name="comment" style = "width:600px; placeholder="请输入备注内容" class="layui-textarea"></textarea>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn layui-btn-normal" id="sub" lay-submit lay-filter="formDemo">立即提交</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div>
		</form>
	</div>
	
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">销售管理</a> <a><cite>机会管理</cite></a>
				</span>
				<h2 class="title">服务管理>> 服务创建</h2>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<div class="demoTable">
								<div class="layui-form-mid">服务名称：</div>
								<div class="layui-input-inline">
							       <input type="text" id="demoReload" class="layui-input staffName">   
							    </div>
								<button class="layui-btn layui-btn-blue refer_but">查询</button>
								<!-- <button class="layui-btn layui-btn-blue add_but">
									<i class="layui-icon">&#xe654;</i>增加&nbsp;&nbsp;&nbsp;&nbsp;
								</button> -->
							</div>
						</div>
						<table class="layui-hide" id="test" lay-filter="test"></table>
 						<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="see">查看</a>
 							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="delete">删除</a>
 							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="update">修改</a>
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="sub">提交</a>
	 					</script>
						<script type="text/html" id="toolbarDemo">
						  <div class="layui-btn-container">
						  	
						  </div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../layui/layui.js"></script>
<script>

layui.use('form', function(){ 
	var form = layui.form;
	var id = $('#id').val()
	form.on('submit(formDemo)',function(data){
		console.log("--"+$(".Updateform").serializeArray());
		$.ajax({
			//发送请求
			url : '../../../serveUpdate',
			type : "POST",
			data : $(".Updateform").serializeArray(),
			datatype:"json",
			success:function(date){
				if(date.code > 0){
					layui.use('layer', function(){
	    				var layer = layui.layer;
	    				layer.msg("修改成功",{time:2100,icon:1},function(){
	     					var index = parent.layer.getFrameIndex(window.name);
	     					//关闭弹出框
	     					layui.table.reload('userReload');
	     					layer.closeAll();//关闭所有的弹出层
	        				//parent.layer.close(index);
	    				})
		    		});
				}else{
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg("修改失败！",{icon:3});
					})
				}
			}
		});
		return false;
	})	
});

layui.use(['table'], function(){
  var table = layui.table;
  var form = layui.form;
  var addButton = '<button class=\"layui-btn layui-btn-xs add_but\"\'>新增</button>';
  table.render({
     elem: '#test'
    ,url:'../../../serveQuery'
    ,data:{state:1}
  	,id:'userReload'
    ,cols: [[
       {type: 'numbers', fixed: 'left'}
      ,{field:'id',title: 'ID',hide:true}
      ,{field:'serveName', width:180, title: '服务名称'}
      ,{field:'serveType', width:120, title: '类型'}
      ,{field:'serveState', width:120, title: '状态'}     
      ,{field:'endTime',width:185, title: '最后操作时间',templet:'<div>{{ Format(d.endTime,"yyyy-MM-dd hh:mm:ss")}}</div>',sort: true}
      ,{field:'operator', width:100, title: '操作人'}
      ,{field:'pendingPeople', width:95, title: '待处理人'}
      ,{field:'createBy',title: '创建人',hide:true}
      ,{field:'createTime', title: '创建时间',templet:'<div>{{ Format(d.createTime,"yyyy-MM-dd hh:mm:ss")}}</div>',hide:true}
      //,{width:210,title:"操作",toolbar:"#barDemo"}
      ,{ fixed: 'right', title: addButton, width: 210, align: 'center', toolbar: '#barDemo' }
    ]]
    ,page: true
  });

  
	//监听工具条
	table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	   	var data = obj.data; //获得当前行数据
	   	console.log(data);
	   	var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	   	var tr = obj.tr; //获得当前行 tr 的DOM对象
	   	if(layEvent == 'see') { //查看
	   		layer.open({
                title: '查看信息',
                type: 1,
                //move: false,
                //content: "<div>名称："+data.serveName+"</div>",
                content:"<table class='layui-table' lay-even lay-skin='nob'><colgroup><col width='100'><col width='180'><col width='40'><col width='100'><colwidth='180'></colgroup><thead><tr><td></td><td></td><td></td><td></td><td></td></tr><tr><th>服务名称</th><th>"+data.serveName+"</th><th></th><th>创建人</th><th>"+data.createBy+"</th></tr></thead><tbody><tr><td>服务类型</td><td>"+data.serveType+"</td><td></td><td>|服务状态</td><td>"+data.serveState+"</td></tr><tr><td>服务客户</td><td>"+data.serveClient+"</td><td></td><td>|联系电话</td><td>"+data.phone+"</td></tr><tr><td>服务内容</td><td>"+data.serveContent+"</td><td></td><td>|备注信息</td><td>"+data.comment+"</td></tr></tbody></table>",
                area: ['600px' , '350px']
            });
	   	} else if(layEvent === 'update') { //修改
	   		layer.open({
                title: '编辑此条信息',
                type: 1,
                //move: false,
                content: $('#editDiv'),
                area: ['800px' , '550px'],
                success: function(layero, index){
                	form.val('updateServe', {
						"id":data.id
        			    ,"serveName": data.serveName // "name": "value"
        			    ,"serveType": data.serveType
        			    ,"serveClient": data.serveClient
        			    ,"phone": data.phone
        			    ,"serveContent": data.serveContent
        			    ,"comment": data.comment
        			  })
                 }
            });
	   	}else if(layEvent === 'delete') { //删除
	   		layer.confirm('确定删除么?', function (index) {
		   		$.post("../../../serveDelete", { id: data.id }, function (ret)
	            {
	                if (ret.code == "1") {
	                    layer.msg("删除成功", { icon: 1, time: 1500 }, function () {
	                       // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	                        layui.table.reload('userReload'); //更新成功刷新当前数据表格 分页默认为当前页
	                        layer.close(index);
	                    });
	                } else
	                {
	                    layer.msg(ret.msg, { icon: 2, time: 1500 });
	                }
            	});
	   		});
	   	}else if(layEvent == 'sub'){//提交
	   		layer.confirm('确定提交么?', function (index) {
		   		$.post("../../../serveSub", { id: data.id }, function (ret)
	            {
	                if (ret.code == "1") {
	                    layer.msg("提交成功", { icon: 1, time: 1500 }, function () {
	                       // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	                        layui.table.reload('userReload'); //更新成功刷新当前数据表格 分页默认为当前页
	                        layer.close(index);
	                    });
	                } else
	                {
	                    layer.msg(ret.msg, { icon: 2, time: 1500 });
	                }
            	});
	   		});
	   	}
	});
	
	$(".add_but").click(function(){
		layer.open({
			type: 2,
            title: '服务管理>> 服务创建>> 增加服务',
            maxmin: true,
            skin: 'layui-layer-lan',
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '550px'],
			content:"addServe.html",
			end: function () {//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
  	        	/* location.reload();　 */　//layer.open关闭刷新
            	 layui.use('table', function(){
	           		 var table = layui.table;
	           		 layui.table.reload('userReload');
           		});
  	        }
		})
	})
});

function Format(datetime,fmt) {
	  if (parseInt(datetime)==datetime) {
		    if (datetime.length==10) {
		      datetime=parseInt(datetime)*1000;
		    } else if(datetime.length==13) {
		      datetime=parseInt(datetime);
		    }
	  }
	  datetime=new Date(datetime);
	  var o = {
		  "M+" : datetime.getMonth()+1,                 //月份   
		  "d+" : datetime.getDate(),                    //日   
		  "h+" : datetime.getHours(),                   //小时   
		  "m+" : datetime.getMinutes(),                 //分   
		  "s+" : datetime.getSeconds(),                 //秒   
		  "q+" : Math.floor((datetime.getMonth()+3)/3), //季度   
		  "S"  : datetime.getMilliseconds()             //毫秒   
	  };   
	  if(/(y+)/.test(fmt))   
	  fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));   
	  for(var k in o)   
	  if(new RegExp("("+ k +")").test(fmt))   
	  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
	  return fmt;
}

</script>
</body>
</html>
