<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layui/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>服务归档</title>
<style type="text/css">
</style>
</head>

<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">销售管理</a> <a><cite>机会管理</cite></a>
				</span>
				<h2 class="title">服务管理>> 服务归档</h2>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<form class="selectAllUserAction">
	                            <div class="layui-inline">
	                            	<div class="layui-form-mid">服务名称：</div>
									<div class="layui-input-inline">
								       <input type="text" name="serveNames" class="layui-input serveNames">   
								    </div>
	                            	<div class="layui-form-mid">服务类型:</div>
	                                <div class="layui-input-inline" style="width: 100px;">
	                                    <select name="serveType" class="serveType">
	                                        <option value="">不限</option>
									        <option value="咨询服务">咨询服务</option>
									        <option value="投诉服务">投诉服务</option>
									        <option value="售前服务">售前服务</option>
									        <option value="售后服务">售后服务</option>
	                                    </select>
	                                </div>
	                                <div class="layui-form-mid">服务状态:</div>
	                               	<div class="layui-input-inline" style="width: 100px;">
	                                    <select name="serveState" class="serveState">
	                                        <option value="">不限</option>
									        <option value="新创建">新创建</option>
									        <option value="已提交">已提交</option>
									        <option value="已分配">已分配</option>
									        <option value="已处理">已处理</option>
									        <option value="已反馈">已反馈</option>
									        <option value="已反馈">已归档</option>
	                                    </select>
	                                </div>
	                                <button type="button" class="layui-btn layui-btn-blue typesearch" id="qqq">查询</button>
	                            </div>
	                        </form>
						</div>
						
						<table class="layui-hide" id="test" lay-filter="test"></table>
 						<script type="text/html" id="barDemo">
							{{#  if(d.serveState == "已反馈"){ }}
								<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="pigeonhole">归档</a>	
							{{#  } else { }}
								<a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="">归档</a>
						    {{#  } }}
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="see">查看</a>
	 					</script>
						<script type="text/html" id="toolbarDemo">
						  <div class="layui-btn-container">
						  	
						  </div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../layui/layui.js"></script>
<script>
layui.use(['table'], function(){
  var table = layui.table;
  table.render({
	     elem: '#test'
	    ,url:'../../../serveQuery'
	    ,data:{state:1}
	  	,id:'userReload'
	    ,toolbar: '#toolbarDemo'
	    ,cols: [[
	       {type: 'numbers', fixed: 'left'}
	      ,{field:'id', width:80, title: 'ID',hide:true}
	      ,{field:'serveName', width:200, title: '服务名称'}
	      ,{field:'serveType', width:120, title: '类型'}
	      ,{field:'serveState', width:120, title: '状态'}
	      ,{field:'endTime',width:201, title: '最后操作时间', minWidth: 100,templet:'<div>{{ Format(d.endTime,"yyyy-MM-dd hh:mm:ss")}}</div>',sort: true}
	      ,{field:'updateBy', width:120, title: '操作人'}
	      ,{field:'pendingPeople', width:120, title: '待处理人'}
	      ,{width:160,title:"操作",toolbar:"#barDemo",align:'center'}
	    ]]
	    ,page: true
	  });
  
  
	//监听工具条
	table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	   	var data = obj.data; //获得当前行数据
	   	console.log(data);
	   	var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	   	var tr = obj.tr; //获得当前行 tr 的DOM对象
	   	if(layEvent == 'see') { //查看
	   		layer.open({
                title: '查看信息',
                type: 1,
                //move: false,
                //content: "<div>名称："+data.serveName+"</div>",
                content:"<table class='layui-table' lay-even lay-skin='nob'><colgroup><col width='100'><col width='180'><col width='40'><col width='100'><colwidth='180'></colgroup><thead><tr><td></td><td></td><td></td><td></td><td></td></tr><tr><th>服务名称</th><th>"+data.serveName+"</th><th></th><th>创建人</th><th>"+data.createBy+"</th></tr></thead><tbody><tr><td>服务类型</td><td>"+data.serveType+"</td><td></td><td>|服务状态</td><td>"+data.serveState+"</td></tr><tr><td>服务客户</td><td>"+data.serveClient+"</td><td></td><td>|联系电话</td><td>"+data.phone+"</td></tr><tr><td>服务内容</td><td>"+data.serveContent+"</td><td></td><td>|备注信息</td><td>"+data.comment+"</td></tr></tbody></table>",
                area: ['600px' , '350px']
            });
	   	}else if(layEvent == 'pigeonhole'){//归档
	   		layer.confirm('确定归档么?', function (index) {
		   		$.post("../../../servePigeonhole", { id: data.id }, function (ret)
	            {
	                if (ret.code == "1") {
	                    layer.msg("归档成功", { icon: 1, time: 1500 }, function () {
	                       // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	                        layui.table.reload('userReload'); //更新成功刷新当前数据表格 分页默认为当前页
	                        layer.close(index);
	                    });
	                } else
	                {
	                    layer.msg(ret.msg, { icon: 2, time: 1500 });
	                }
            	});
	   		});
	   	}
	});
	
	$('.typesearch').on('click', function(){
  		layui.use('table', function(){
  		  	var table = layui.table;
  		 	table.reload('userReload', {
			  where: { //设定异步数据接口的额外参数，任意设
				  'serveName':$(".serveNames").val(),
				  'serveType':$(".serveType").val(),
				  'serveState':$(".serveState").val()
			  }
			  ,page: {
			    curr: 1 //重新从第 1 页开始
			  }
			});
  		});
  		return false;
     }); 
	
	$(".add_but").click(function(){
		
	})
});
function Format(datetime,fmt) {
	  if (parseInt(datetime)==datetime) {
		    if (datetime.length==10) {
		      datetime=parseInt(datetime)*1000;
		    } else if(datetime.length==13) {
		      datetime=parseInt(datetime);
		    }
	  }
	  datetime=new Date(datetime);
	  var o = {
		  "M+" : datetime.getMonth()+1,                 //月份   
		  "d+" : datetime.getDate(),                    //日   
		  "h+" : datetime.getHours(),                   //小时   
		  "m+" : datetime.getMinutes(),                 //分   
		  "s+" : datetime.getSeconds(),                 //秒   
		  "q+" : Math.floor((datetime.getMonth()+3)/3), //季度   
		  "S"  : datetime.getMilliseconds()             //毫秒   
	  };   
	  if(/(y+)/.test(fmt))   
	  fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));   
	  for(var k in o)   
	  if(new RegExp("("+ k +")").test(fmt))   
	  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
	  return fmt;
}
</script>
</body>
</html>
