<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 保证唯一性 
       使用接口方式加载命名空间 使用代理模式
   -->
 <mapper namespace="com.znsd.client.dao.DepartmentMapperDao">
 	
 	<resultMap type="departmentVo" id="departmentResultMap">
		<id column="department_id" property="departmentId"/>
		<result column = "department_abbreviation" property = "departmentAbbreviation" />
		<result column = "department_fullname" property = "departmentFullname" />
		<result column = "department_outline" property = "departmentOutline" />
		<result column = "remarks_info" property = "remarksInfo" />
		<result column = "operation_person" property="operationPerson"></result>
		<result column = "staff_name" property = "operationPersonName" />
	</resultMap>
 	
 	<select id="selectDepartmentByPage" resultMap="departmentResultMap">
 		select d.department_id,d.department_abbreviation,d.department_fullname,d.department_outline,d.remarks_info,d.operation_person,s.staff_name from department d,staff s where d.operation_person = s.staff_id
		<if test="departmentFullname != null and departmentFullname != ''">
			and d.department_fullname like CONCAT('%',#{departmentFullname},'%')
		</if>
 	</select>
 	
 </mapper>