<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 保证唯一性 使用接口方式加载命名空间 使用代理模式 -->
<mapper namespace="com.znsd.client.dao.DevelopPlanDao">
	
	<resultMap type="java.util.HashMap" id="planMap">
		<id column="plan_id" property="planId"/>
		<result column="plan_name" property="planName"/>
		<result column="client_id" property="clientId"/>
		<result column="staff_id" property="staffId"/>
		<result column="staff_name" property="staffName"/>
		<result column="plan_content" property="planContent"/>
		<result column="planMonth" property="planMonth"/>
		<result column="found_time" property="foundTime"/>
		<result column="last_opterate_time" property="lastOpterateTime"/>
		<result column="plan_status" property="planStatus"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="clientNameMap">
		<id column="client_id" property="clientId"/>
		<result column="client_name" property="clientName"/>
	</resultMap>
	
	<select id="selectDevelopPlan" resultMap="planMap">
		select d.plan_id,d.plan_name,d.client_id,d.staff_id,d.plan_content,DATE_FORMAT(d.plan_month,'%Y-%m') as planMonth,DATE_FORMAT(d.found_time,'%Y-%m-%d') as found_time,DATE_FORMAT(d.last_opterate_time,'%Y-%m-%d') as last_opterate_time,d.plan_status,s.staff_name  
		from develop_plan d LEFT JOIN staff s ON d.staff_id = s.staff_id 
		<where>
			<choose>
				<when test="month != null and month != ''">
					d.plan_month like '%${month}%' 
					<if test="roleId == 4">
						and s.staff_id = #{staffId}
					</if>
				</when>
				<when test="roleId == 4">
					s.staff_id = #{staffId}
				</when>
			</choose>
		</where>
	</select>
	
	<delete id="deleteDevelopPlan">
		delete FROM develop_plan where plan_id = #{planId}
	</delete>
	
	<insert id="insertDevelopPlan" parameterType="com.znsd.client.bean.DevelopPlan">
		INSERT INTO develop_plan VALUES
		(NULL,#{planName},#{clientId},#{staffId},#{planContent},#{planMonth},#{foundTime},#{lastOpterateTime},#{planStatus});
	</insert>
	
	<update id="updateDevelopPlan" parameterType="com.znsd.client.bean.DevelopPlan">
		UPDATE develop_plan SET staff_id= #{staffId},plan_content = #{planContent},last_opterate_time = #{lastOpterateTime} 
		WHERE plan_id = #{planId}
	</update>
	
	<select id="selectClientName" resultMap="clientNameMap">
		select client_id,client_name FROM client_resource where state = 1 and ISNULL(chance_id)
	</select>
	
	<select id="selectPlanInClientName" resultMap="clientNameMap">
		select client_id,client_name from client_resource c LEFT JOIN staff s ON c.staff_id = s.staff_id where c.client_id NOT in(select client_id from develop_plan)
		<if test="roleId == 4">
			and s.staff_id = #{staffId}
		</if>
	</select>
</mapper>