<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 保证唯一性 
       使用接口方式加载命名空间 使用代理模式
   -->
<mapper namespace="com.znsd.client.dao.HapDao">
	<!-- 客户价值需要查询出的信息 -->
 	<resultMap type="java.util.HashMap" id="hapMap">
 		<id column="chance_id" property="chanceId"/>
 		<result column="chance_name" property="chanceName"/>
 		<result column="type_name" property="typeName"/>
 		<result column="type_id" property="typeId"/>
 		<result column="entry_time" property="entryTime"/>
 		<result column="entryName" property="entryName"/>
 		<result column="last_time" property="lastTime"/>
 		<result column="handleName" property="handleName"/>
 		<result column="chance_content" property="chanceContent"/>
 		<result column="client_id" property="clientId"/>
 		<result column="remark" property="remark"/>
 	</resultMap>
 
 	<select id="selectHapByPage" resultMap="hapMap" >
 		select chance_id,chance_name,type_name,
 		(select staff_name from staff s where s.staff_id = h.entry_id ) as entryName,
 		(select staff_name from staff s where s.staff_id = h.handle_id ) as handleName,
 		chance_content,client_id,
 		DATE_FORMAT(last_time,'%Y-%m-%d %H:%i:%s') as last_time,
 		DATE_FORMAT(entry_time,'%Y-%m-%d %H:%i:%s') as entry_time
 		from hap as h inner join type as t on h.type_id=t.type_id
 		where staff_id is null
 		<if test="chanceName != null and chanceName!=''"> 
 			and chance_name like "%${chanceName}%"
 		</if>
 	</select>
 	<update id="updateAllotHap"><!-- 分配机会 -->
 		update hap set staff_id = #{staffId} where chance_id = #{chanceId}
 	</update>
 	<insert id="addHap"  parameterType="com.znsd.client.bean.Hap"><!-- 增加机会 -->
 		insert into hap(chance_name,type_id,entry_time,handle_id,chance_content,entry_id,last_time,remark) values (#{chanceName},#{typeId},#{entryTime},#{handleId},#{chanceContent},#{entryId},#{lastTime},#{remark})
 	</insert>
	<select id="getHapData" resultMap="hapMap">
		select chance_id,chance_name,t.type_id,chance_content,remark,
		(select staff_name from staff s where s.staff_id = h.entry_id ) as entryName,
		(select staff_name from staff s where s.staff_id = h.handle_id ) as handleName,
		DATE_FORMAT(last_time,'%Y-%m-%d %H:%i:%s') as last_time,
		DATE_FORMAT(entry_time,'%Y-%m-%d %H:%i:%s') as entry_time
		from hap as h inner join type as t on h.type_id=t.type_id
		where chance_id = ${chanceId}
		
	</select> 
	<update id="updateHap">
 		update hap set chance_name=#{chanceName},type_id=#{typeId},chance_content=#{chanceContent},remark=#{remark},last_time=#{lastTime},handle_id=#{handleId} where chance_id=#{chanceId}
 	</update>
</mapper>