<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.znsd.client.dao.IssueDao">
  
  	<resultMap type="com.znsd.client.bean.Issue" id="IssueMap">
  		<id property="id" column="id"/>
  		<result property="title" column="title"/>
  		<result property="issueType" column="issue_Type"/>
  		<result property="answer" column="answer"/>
  		<result property="comment" column="comment"/>
  		<result property="endTime" column="end_time"/>
  		<result property="createBy" column="create_by"/>
  		<result property="createTime" column="create_time"/>
  		<result property="updateBy" column="update_by"/>
  		<result property="updateTime" column="update_time"/>
  	</resultMap>
  	
  	
  	<select id="issueQuery"  resultMap="IssueMap">
  		select * from issue where delete_flag=1
  		<if test="title != null and title != ''">
			and title LIKE '%${title}%'
		</if>
		<if test="issueType != null and issueType != ''">
			and issue_Type LIKE '%${issueType}%'
		</if>
		order by id desc
  	</select>
	
	<insert id="issueAdd">
		INSERT into issue (title,issue_type,answer,comment,end_time,create_by,create_time,update_by,update_time) value (#{title},#{issueType},#{answer},#{comment},NOW(),#{createBy},NOW(),#{updateBy},NOW())
	</insert>
  	
  	<update id="issueDelete">
  		update issue set delete_flag=0,end_time=NOW() where id = #{id}
  	</update>
  	
  	<update id="issueUpdate">
  		update issue set title=#{title},issue_type=#{issueType},answer=#{answer},comment=#{comment},end_time=NOW(),update_by=#{updateBy},update_time=NOW() WHERE id = #{id}
  	</update>
  	
  </mapper>