<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 保证唯一性 
       使用接口方式加载命名空间 使用代理模式
   -->
 <mapper namespace="com.znsd.client.dao.OrderIndentMapperDao">
	<!-- 订单查询 -->
	<select id="selectOrderIndent" resultType="com.znsd.client.vo.OrderIndentVo">
		select o.id,o.order_type,o.order_code,o.commodity,ad.consignee_name,o.order_money,DATE_FORMAT(o.deal_time,'%Y-%m-%d %H:%i:%s'),o.order_status,ad.province,ad.city,ad.area,ad.detailAddress,o.shipping_detail 
		from order_indent o,address ad where o.shipping_address_id = ad.id and o.staff_id = #{staffId}
		<if test="differentiate != null and differentiate != ''">
			<if test="differentiate == 'productName' and inputSelect != null and inputSelect != ''">
				and o.commodity like CONCAT('%',#{inputSelect},'%')
			</if>
			<if test="differentiate == 'orderCode' and inputSelect != null and inputSelect != ''">
				and o.order_code like CONCAT('%',#{inputSelect},'%')
			</if>
			<if test="differentiate == 'consigneeName' and inputSelect != null and inputSelect != ''">
				and ad.consignee_name like CONCAT('%',#{inputSelect},'%')
			</if>
		</if>
		<if test="dealTime != null and dealTime != ''">
			<if test="dealTime == 'threeMonth'">
				and o.deal_time>DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
			</if>
			<if test="dealTime == 'thisYear'">
				and YEAR(o.deal_time)=YEAR(NOW())
			</if>
			<if test="dealTime == 'inTheFirst'">
				<![CDATA[and date_format(deal_time,'%Y')< year(NOW())]]> 
			</if>
		</if>
		<if test="status != null and status != ''">
			and o.order_status = #{status}
		</if>
		ORDER BY o.deal_time DESC
	</select>
	<!-- 修改订单状态 -->
	<update id="updateOrderStatus">
		update order_indent set order_status = #{status} where order_code = #{orderCode}
	</update>
	<!-- 添加订单记录 -->
	<insert id="addOrder">
		INSERT into order_indent values(#{id},'普通订单',#{orderCode},#{commodity},#{commodityNumber},#{shippingAddressId},#{orderMoney},#{staffId},#{clientId},'0',now(),#{orderStatus},#{modeOfPayment},#{modeOfDistribution},#{commercialVoucher},#{shippingDetail})
	</insert>
	<!-- 订单统计 -->
	<select id="orderStatistics" resultType="orderStatisticsVo">
		select DATE_FORMAT(o.deal_time,'%Y-%m') months,count(o.id) totalOrderNumber,ROUND(sum(o.order_money)/10000,1) totalOrderMoney,ROUND(s.money/10000,1) targetMoney,ROUND((ROUND(sum(o.order_money)/10000,1)/ROUND(s.money/10000,1))*100,1) completionRate from order_indent o,sell_plan s
		 where o.staff_id = s.selling_id and o.staff_id = #{staffId}
			<if test="minDate != null and minDate != ''">
				 <![CDATA[and o.deal_time >= #{minDate}]]> 
			</if>
			<if test="maxDate != null and maxDate !='' ">
			 <![CDATA[and o.deal_time <= #{maxDate}]]> 
			</if>
			and o.order_status = '已完成' and s.state = '2' group by months  
	</select>
	<select id="selectPlan" resultType="sellPlan">
		select * from sell_plan where selling_id = #{sellingId}
	</select>
 </mapper>