<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 保证唯一性 
       使用接口方式加载命名空间 使用代理模式
   -->
 <mapper namespace="com.znsd.client.dao.RoleMapperDao">
 	
 	<resultMap type="roleQueryVo" id="roleResultMap">
		<id column="role_id" property="roleId"/>
		<result column = "role_name" property = "roleName" />
		<result column = "department_abbreviation" property = "departmentAbbreviation" />
		<result column = "last_time" property = "lastTime" />
		<result column = "staff_name" property = "staffName" />
		<result column = "remarks_explain" property="remarksExplain" />
	</resultMap>
 	
 	<select id="selectRoleByPage" resultMap="roleResultMap">
		select r.role_id,r.role_name,d.department_abbreviation,r.last_time,s.staff_name,r.remarks_explain from role r,department d,staff s where r.department_id = d.department_id and r.operation_person = s.staff_id
		<if test="roleName != null and roleName != ''">
			and r.role_name like CONCAT('%',#{roleName},'%')
		</if>
 	</select>
 	
 </mapper>