<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 保证唯一性 
       使用接口方式加载命名空间 使用代理模式
   -->
 <mapper namespace="com.znsd.client.dao.StatisticDao">
 	
 	<resultMap type="com.znsd.client.bean.Statistic" id="StatisticMap">
 		<id column="statistics_Id" property="statisticsId"/>
 		<result column="statistics_Contribution" property="statisticsContribution"/>
 		<result column="statistics_CustomerNumber" property="statisticsCustomerNumber"/>
 		<result column="statistics_Date" property="statisticsDate"/>
 		<result column="statistics_LossQuantity" property="statisticsLossQuantity"/>
 		<result column="statistics_RingRatio" property="statisticsRingRatio"/>
 		<result column="statistics_SameTimeRatio" property="statisticsSameTimeRatio"/>
 		<result column="statistics_ServiceQuantity" property="statisticsServiceQuantity"/>
 	</resultMap>
 	
	<select id="constituteListByPage" resultMap="StatisticMap">
		select client_id as statistics_Id,DATE_FORMAT(in_time,'%Y-%m') AS statistics_Date,count(client_id) AS statistics_CustomerNumber,(select count(client_id) from client_resource as i where DATE_FORMAT(i.in_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(o.in_time,INTERVAL 1 month),'%Y-%m')) as statistics_SameTimeRatio,(select count(client_id) from client_resource as c where DATE_FORMAT(c.in_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(o.in_time,INTERVAL 1 year),'%Y-%m')) as statistics_RingRatio FROM client_resource as o 
		<if test="startTime==null || startTime==''">
				GROUP BY statistics_Date
		</if>
		<if test="startTime!=null and startTime!=''">
				where DATE_FORMAT(in_time,'%Y-%m')=#{startTime} GROUP BY statistics_Date
		</if>
	</select>
	
	<select id="lossListByPage" resultMap="StatisticMap">
		select client_id as statistics_Id,DATE_FORMAT(in_time,'%Y-%m') AS statistics_Date,(select count(1) from client_resource where DATE_FORMAT(DATE_SUB(now(),INTERVAL 6 month),'%Y-%m')>DATE_FORMAT(in_time,'%Y-%m')) as statistics_LossQuantity,(select count(1) from client_resource as c where DATE_FORMAT(DATE_SUB(now(),INTERVAL 6 month),'%Y-%m')> DATE_FORMAT(in_time,'%Y-%m')) as statistics_SameTimeRatio,(select count(1) from client_resource as c where DATE_FORMAT(DATE_SUB(now(),INTERVAL 6 month),'%Y-%m')> DATE_FORMAT(in_time,'%Y-%m')) as statistics_RingRatio FROM client_resource as s 
		<if test="startTime==null || startTime==''">
				GROUP BY statistics_Date
		</if>
		<if test="startTime!=null and startTime!=''">
				where DATE_FORMAT(in_time,'%Y-%m')=#{startTime} GROUP BY statistics_Date
		</if>
	</select>
	
	<select id="contributionListByPage" resultMap="StatisticMap">
		select id as statistics_Id,DATE_FORMAT(deal_time,'%Y-%m') AS statistics_Date,sum(order_money) AS statistics_Contribution,(select sum(order_money) from order_indent as i where DATE_FORMAT(i.deal_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(o.deal_time,INTERVAL 1 month),'%Y-%m')) as statistics_SameTimeRatio,(select sum(order_money) from order_indent as c where DATE_FORMAT(c.deal_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(o.deal_time,INTERVAL 1 year),'%Y-%m')) as statistics_RingRatio FROM order_indent as o 
		<if test="startTime==null || startTime=='' and endTime==null || endTime==''">
			GROUP BY statistics_Date
		</if>
		<if test="startTime!=null and startTime=='' and endTime!=null and endTime!=''">
			where DATE_FORMAT(deal_time,'%Y-%m') between #{startTime} and #{endTime}  GROUP BY statistics_Date
		</if>
	</select>

	<select id="serviceListByPage" resultMap="StatisticMap">
		select id as statistics_Id,DATE_FORMAT(create_time,'%Y-%m') AS statistics_Date,count(id) AS statistics_ServiceQuantity,(select count(id) from serve as i where DATE_FORMAT(i.create_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(o.create_time,INTERVAL 1 month),'%Y-%m')) as statistics_SameTimeRatio,(select count(id) from serve as c where DATE_FORMAT(c.create_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(o.create_time,INTERVAL 1 year),'%Y-%m')) as statistics_RingRatio FROM serve as o 
		<if test="startTime==null || startTime=='' and endTime==null || endTime==''">
			GROUP BY statistics_Date
		</if>
		<if test="startTime!=null and startTime=='' and endTime!=null and endTime!=''">
			where DATE_FORMAT(create_time,'%Y-%m') between #{startTime} and #{endTime}  GROUP BY statistics_Date
		</if>
	</select>
	
 </mapper>