<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layui/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>客户资源管理</title>
<style type="text/css">
*{margin:0;padding:0;}
#addResource input[type="text"] {
	width: 200px;
}

#addResource>.layui-form>div {
	line-height: 50px;
}

#addResource label {
	line-height: 30px;
}

.float_left {
	float: left;
}
.mainDiv{
	padding: 20px;width: 460px;margin: auto;display: none;
}
.mainDiv>div{
	line-height: 50px;
}
.width_div{
	width: 200px;
}
.infoTrdiv span{
	font-weight: 800;
}
</style>
</head>

<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span> <a href="">首页</a> <a href="">客户管理</a> <a><cite>客户资源管理</cite></a>
				</span>
				<!--<h2 class="title">客户资源管理</h2> class="layui-breadcrumb"-->
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<select name="name" class="layui-select cliName">
										<option value="clientName">客户姓名</option>
										<option value="phone">联系电话</option>
									</select>
								</div>
								<div class="layui-input-inline">
									<input type="text" name="" class="layui-input staffName">
								</div>
								<div class="layui-form-mid">分配状态：</div>
								<div class="layui-input-inline">
									<select name="allotState" class="layui-select allot">
										<option value="0">状态选择</option>
										<option value="2">已分配</option>
										<option value="1">未分配</option>
									</select>
								</div>
								<div class="layui-input-inline">
									<button class="layui-btn layui-btn-blue refer_but">查询</button>
								</div>
							</div>
						</div>
						<button class="layui-btn layui-btn-blue add_but">
							<i class="layui-icon">&#xe654;</i>添加
						</button>
						<table class="layui-hide" id="test" lay-filter="test"></table>
						<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="edit">修改</a>
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="see">查看</a>
							<a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="allot">分配</a>
	 					</script>
						<script type="text/html" id="toolbarDemo" class="layui-table">
						  <div class="layui-btn-container">
						  	
						  </div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="addResource" style="display: none; padding: 20px; width: 630px; margin: auto;">
		<form class="layui-form resourceadd" action="">
			<div class="float_left">
				<label class="layui-form-label">客户编码：</label>
				<div class="layui-input-inline">
					<input type="text" name="clientId" class="layui-input cid" placeholder="输入无效" />
				</div>
			</div>
			<div class="float_left">
				<label class="layui-form-label">客户姓名：</label>
				<div class="layui-input-inline">
					<input type="text" name="clientName" class="layui-input clientName" />
				</div>
			</div>

			<div class="float_left">
				<label class="layui-form-label">性别：</label> 
				<input type="radio" name="sex" value="男" title="男" checked class="man" /> 
				<input type="radio" name="sex" value="女"  title="女" checked="" class="girl" />
			</div>
			<div class="float_left" style="margin-left: 68px;">
				<label class="layui-form-label">生日：</label>
				<div class="layui-input-inline">
					<input type="text" name="birthday" class="layui-input" id="date" />
				</div>
			</div> 
		 	<div class="float_left">
				<label class="layui-form-label">类型：</label>
				<div class="layui-input-inline">
					<select name="clientType" class="typeb">
						<option value="普通" selected>普通客户</option>
						<option value="银卡" selected="">银卡客户</option>
						<option value="金卡" selected="">金卡客户</option>
						<option value="vip" selected="">vip客户</option>
					</select>
				</div>
			</div>
			<div class="float_left">
				<label class="layui-form-label">状态：</label>
				<div class="layui-input-inline">
					<select name="state" class="state">
						<option value="1" selected>启用</option>
						<option value="2" selected="">禁用</option>
						<option value="3" selected="">流失</option>
					</select>
				</div>
			</div>
			<div class="float_left">
				<label class="layui-form-label">手机：</label>
				<div class="layui-input-inline">
					<input type="text" name="phone" class="layui-input phone" />
				</div>
			</div>
			<div class="float_left">
				<label class="layui-form-label">办公电话：</label>
				<div class="layui-input-inline">
					<input type="text" name="workPhone" class="layui-input workPhone" />
				</div>
			</div>
		 	<div class="float_left">
				<label class="layui-form-label">电子邮箱：</label>
				<div class="layui-input-inline">
					<input type="text" name="email" class="layui-input email" />
				</div>
			</div>
			<div class="float_left">
				<label class="layui-form-label">家庭电话：</label>
				<div class="layui-input-inline">
					<input type="text" name="familyPhone" class="layui-input familyPhone" />
				</div>
			</div>
			<div style="clear: both;"></div>
			<div>
				<label class="layui-form-label">联系地址：</label>
				<textarea name="contactAddress" placeholder="请输入" class="layui-textarea address" style="width: 514px;"></textarea>
			</div>
			<div>
				<label class="layui-form-label">备注详情：</label>
				<textarea name="remark" placeholder="请输入" class="layui-textarea remark" style="width: 514px;"></textarea>
			</div>
			<div style="text-align: center">
				<button type="button" class="layui-btn addSub" style="">增加</button>
				<button type="button" class="layui-btn updateSub" style="">修改</button>
				<button type="button" class="layui-btn fanhui" style="margin-left: 99px">返回</button>
			</div>
		</form>
	</div>
	<div class="mainDiv">
		<div class="infoTrdiv">
			<div class="width_div float_left"><span>客户姓名：</span></div>
			<div class="width_div float_left"><span>客户生日：</span></div>
			<div style="clear: both;"></div>
		</div>
		<div class="infoTrdiv">
			<div class="width_div float_left"><span>性别：</span></div>
			<div class="width_div float_left"><span>类型：</span></div>
			<div style="clear: both;"></div>
		</div>
		<div class="infoTrdiv">
			<div class="width_div float_left"><span>手机：</span></div>
			<div class="width_div float_left"><span>办公电话：</span></div>
			<div style="clear: both;"></div>
		</div>
		<div class="infoTrdiv">
			<div class="width_div float_left"><span>家庭电话：</span></div>
			<div class="width_div float_left"><span>邮箱：</span></div>
			<div style="clear: both;"></div>
		</div>
		<div class="infoTrdiv">
			<div style="margin-left: 30px;">
				<span>联系地址：</span>
			</div>
		</div>
		<div class="infoTrdiv">
			<div style="margin-left: 30px;">
				<span>备注信息：</span>
			</div>
		</div>
		<div class="infoTrdiv">
			<div style="text-align: center;">
				<span>客户状态：</span>
			</div>
		</div>
	</div>
	<script src="../../layui/layui.js"></script>
	<script>
	$(function(){ 
	      dataTable();
	});
	function dataTable(){
		layui.use([ 'table','laydate' ], function() {
			let table = layui.table;
			let layer = layui.layer;
			let laydate = layui.laydate;
			// 弹出层
			let mylay;
			
			table.render({
				elem : '#test',
				url : '../../../selectAllClient',
				toolbar : '#toolbarDemo',
				cols : [ [ 
					{field : 'clientId',width : 80,title : '',sort : true}, 
					{field : 'clientName',width : 120,title : '客户姓名',align : 'center'}, 
					{field : 'sex',width : 60,title : '性别'}, 
					{field : 'clientType',width : 100,title : '类型',minWidth : 100}, 
					{field : 'state',width : 100,title : '状态'}, 
					{field : 'allotState',width : 90,title : '分配状态'}, 
					{field : 'inTime',width : 0,title : '录入时间'}, 
					{field : 'staffName',width : 120,title : '录入人'}, 
					{width : 200,title : "操作",toolbar : "#barDemo"}
				] ],
				page : true,
				limits : [2,5,10,15,20]
			});
			
			//监听工具条
			table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
				var data = obj.data; //获得当前行数据
				console.log(data);
				var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
				var tr = obj.tr; //获得当前行 tr 的DOM对象
				if (layEvent == 'see') { //查看
					$(".mainDiv").empty();
					let textData = "";
					textData += "<div class='infoTrdiv'><div class='width_div float_left'><span>客户姓名：</span>"+data.clientName+"</div>"+
					"<div class='width_div float_left'><span>客户生日：</span>"+data.birthday+"</div><div style='clear: both;'></div></div>"+
				    "<div class='infoTrdiv'><div class='width_div float_left'><span>性别：</span>"+data.sex+"</div>"+
					"<div class='width_div float_left'><span>类型：</span>"+data.clientType+"</div><div style='clear: both;'></div></div>"+
					"<div class='infoTrdiv'><div class='width_div float_left'><span>手机：</span>"+data.phone+"</div>"+
					"<div class='width_div float_left'><span>办公电话：</span>"+data.workPhone+"</div><div style='clear: both;'></div></div>"+
					"<div class='infoTrdiv'><div class='width_div float_left'><span>家庭电话：</span>"+data.familyPhone+"</div>"+
					"<div class='width_div float_left'><span>邮箱：</span>"+data.email+"</div><div style='clear: both;'></div></div>"+
					"<div class='infoTrdiv'><div style='margin-left: 30px;'><span>联系地址：</span>"+data.contactAddress+"</div></div>"+
					"<div class='infoTrdiv'><div style='margin-left: 30px;'><span>备注信息：</span>"+data.remark+"</div></div>"+
					"<div class='infoTrdiv'><div style='text-align: center;'><span>客户状态：</span>"+data.state+"</div></div>"
					$(".mainDiv").append(textData);
					layer.open({
						type : 1,
						anim : 3,
						area : [ '600px', '500px' ],
						content : $('.mainDiv')
					//这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
					});
				} else if (layEvent === 'edit') { //修改
					$(".updateSub").css("display","inline-block");
					$(".updateSub").css("margin-right","50px");
					$(".addSub").css("display","none");
					$(".cid").val(data.clientId);
					$(".clientName").val(data.clientName);
					$("#date").val(data.birthday);
					console.log($(".man").val() +"======="+ data.sex);
					if ($(".man").val() == data.sex) {
						$(".girl").removeAttr("checked")
						$(".man").attr("checked",true);
					}else{
						$(".man").removeAttr("checked");
						$(".girl").attr("checked",true);
					}
					$("#date").val(data.birthday);
					
					$(".typeb>option").each(function(){ //遍历全部option
						var txt = $(this).text(); //获取option的内容
						if (txt == data.clientType) {
							$(".typeb:first").removeAttr("selected");
							$(this).attr("selected","selected");
							return false;
						}
					});
					$(".state option").each(function(){ //遍历全部option
				        var txt = $(this).val(); //获取option的内容
						if (data.state == "正常") {
							$(this).attr("selected","selected");
							return false;
						}else if (data.state == "被禁用") {
							if (txt == '2') {
								$(".state:first").removeAttr("selected");
								$(this).attr("selected","selected");
								return false;
							}
						}else if(data.state == "已流失"){
							if (txt == '3') {
								$(".state:first").removeAttr("selected");
								$(this).attr("selected","selected");
								return false
							}
						}
					});
					
					$(".phone").val(data.phone);
					$(".workPhone").val(data.workPhone);
					$(".email").val(data.email);
					$(".familyPhone").val(data.familyPhone);
					$(".address").val(data.contactAddress);
					$(".remark").val(data.remark);
					console.log("进入修改");
					mylay = layer.open({
						type : 1,
						anim : 2,
						area : [ '700px', '600px' ],
						content : $('#addResource'),
						success:function(layero,index){
							laydate.render({
								elem: '#date'
							});
						}
					});
				} else if (layEvent == 'allot') {//分配

				}
			});
			$(".refer_but").on('click',function() {
			    table.reload('test',{
			        method:'post',
			        where:{
						allotState:$(".allot").val(),
						conditionName:$(".cliName").val(),
						condition:$(".staffName").val()
			        }
			    });
			});
			/* 
			var $ = layui.jquery, active = {
			    getCheckData: function(){//获取选中数据
			        var checkStatus = table.checkStatus('contenttable')
			            ,data = checkStatus.data;
			        layer.alert(JSON.stringify(data));
			    }
			    ,getCheckLength: function(){//获取选中数目
			        var checkStatus = table.checkStatus('contenttable')
			            ,data = checkStatus.data;
			        layer.msg('选中了：'+ data.length + ' 个');
			    }
			    ,isAll: function(){//验证是否全选
			        var checkStatus = table.checkStatus('contenttable');
			        layer.msg(checkStatus.isAll ? '全选': '未全选')
			    }
			    ,parseTable: function(){
			        table.init('parse-table-demo', {
			            limit: 3
			        });
			    }
			    ,add: function(){
			        table.addRow('test')
			    }
			    ,delete: function(){
			        layer.confirm('确认删除吗？', function(index){
			            table.deleteRow('test')
			            layer.close(index);
			        });
			    }
			    ,reload:function () {
			        var keyWord=$("#keyWord").val();
			        var keyType=$("#key_type option:selected").val();
			        table.reload('contenttable',{
			            method:'post',
			            where:{keyWord:keyWord,keyType:keyType}
			        });
			    }
			}; */
			//日期时间选择器
			/* laydate.render({ 
				  elem: '#date' //或 elem: document.getElementById('test')、elem: lay('#test') 等
				  ,type: 'datatime'
				}); */
			//form 表单
			var form = layui.form;
			//监听提交
			form.on('submit(formDemo)', function(data) {
				layer.msg(JSON.stringify(data.field));
				return false;
			});
			$(".add_but").click(function() {
				$(".addSub").css("display","inline-block");
				$(".addSub").css("margin-right","50px");
				$(".updateSub").css("display","none");
				$('.resourceadd')[0].reset();
				mylay = layer.open({
					type : 1,
					anim : 1,
					area : [ '700px', '600px' ],
					content : $('#addResource')
				//这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
				});
			});
			$(".fanhui").on("click", function() {
				layer.close(mylay);
			});
			$(".cid").focus(function() {
				layer.msg("编码输入无效的");
			});
			
			// 资源增加ajax
			$(".addSub").on('click',function(){
				console.log("=====增加点击事件====="+$(".resourceadd").serialize());
				let data = $(".resourceadd").serialize();
				$.ajax({
					url:'../../../addResource',
					type:'post',
					data: data,
					success:function(msg){
						layer.msg(msg.msg);
						layer.close(mylay);
					},error(){
						alert("哦豁网络错误！");
					}
				});
			});
			// 资源修改ajax
			$(".updateSub").on('click',function(){
				console.log("=====修改点击事件====="+$(".resourceadd").serialize());
				let data = $(".resourceadd").serialize();
				$.ajax({
					url:'../../../updateResource',
					type:'post',
					data: data,
					success:function(msg){
						layer.msg(msg.msg);
						layer.close(mylay);
					},error(){
						alert("壕鳥网络错误！");
					}
				});
			});
		});
	}
	</script>
</body>
</html>