<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layui/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>客户发展计划</title>
<style type="text/css">
	#planDiv .layui-form-label{
		width: 90px;
	}
	.allotSpan{
		line-height: 36px;
	}
</style>
</head>

<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap title">
				<span> <a href="">首页</a> <a href="">客户管理</a> <a><cite>客户发展计划</cite></a>
				</span>
				<!--<h2 class="title">客户资源管理</h2> class="layui-breadcrumb"-->
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<div class="layui-inline">
								<div class="layui-form-mid">月份：</div>
								<div class="layui-input-inline">
									<input type="text" name="" id="month" class="layui-input staffName">
								</div>
								<button class="layui-btn layui-btn-blue refer_but">查询</button>
							</div>
						</div>
						<button class="layui-btn layui-btn-blue add_but">
							<i class="layui-icon">&#xe654;</i>添加
						</button>
						<table class="layui-hide" id="test" lay-filter="test"></table>
						<script type="text/html" id="toolbarDemo">
						  <div class="layui-btn-container">
 							 <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="update">修改</button>
 							 <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="see">查看</button>
						  	 <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="del">删除</button>
						  </div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="planDiv" style="display: none">
		<div class="layui-form-item">
			<label class="layui-form-label">计划人姓名：</label>
			<div class="layui-input-block">
				<span class="planName allotSpan">廖先生咨询氧气发生器</span>
		    </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">计划月份：</label>
			<div class="layui-input-block">
				<span class="planMonth allotSpan">廖先生咨询氧气发生器</span>
		    </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">计划状态：</label>
			<div class="layui-input-block">
				<span class="planStatus allotSpan">廖先生咨询氧气发生器</span>
		    </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">计划内容：</label>
			<div class="layui-input-block">
				<span class="planContent allotSpan">廖先生咨询氧气发生器</span>
		    </div>
		</div>
	</div>
	<script src="../../layui/layui.js"></script>
	<script>
		layui.use([ 'table' ], function() {
			let table = layui.table;
			let layer = layui.layer;
			table.render({
				elem : '#test',
				url : '../../../selectDevelopPlan',
				toolbar : '#toolbarDemo',
				cols : [ [ 
				  {field : 'planId',width : 80,title : '',sort : true}
				, {type : 'radio'}
				, {field : 'planName',width : 120,title : '姓名',align : 'center'}
				, {field : 'planMonth',width : 160,title : '月份'}
				, {field : 'foundTime',width : 200,title : '创建时间',minWidth : 100}
				, {field : 'lastOpterateTime',width : 200,title : '最后操作时间'}
				, {field : 'staffId',width : 120,title : '操作人'} 
				] ],
				page : true,
				limits : [ 2, 5, 8 ]
			});
			//头工具栏事件
			  table.on('toolbar(test)', function(obj){
			    var checkStatus = table.checkStatus(obj.config.id)
			    ,data = checkStatus.data; //获取选中行状态
			    switch(obj.event){
			      case 'see':
			    	  if(data.length === 0){
			              layer.msg('请选择一行');
			            }else{
			            	console.log(data);
			            	$(".planName").text(data[0].planName);
			            	$(".planMonth").text(data[0].planMonth);
			            	$(".planStatus").text(data[0].planStatus);
			            	$(".planContent").text(data[0].planContent);
			            	layer.open({
			            		type : 1,
								anim : 4,
								area : [ '500px', '300px' ],
								title: '计划信息',
								content : $("#planDiv")
			            	});
			            }
			      break;
			      case 'update':
			    	  if(data.length === 0){
			              layer.msg('请选择一行');
			            }else{
			            	console.log(data);
			            	layer.open({
			            		type : 2,
								anim : 4,
								area : [ '700px', '600px' ],
								title: '计划信息',
								content : 'DevelopPlanAdd.html',
								success:function(layero,index){
									 var body = layer.getChildFrame('body', index);
									 var iframe = window['layui-layer-iframe'+index]
									 body.find(".planId").val(data[0].planId);
									 body.find(".clientId").val(data[0].clientId);
									 body.find(".date").val(data[0].planMonth);
									 body.find(".status").val(data[0].planStatus);
									 body.find(".content").val(data[0].planContent);
									 body.find("#buttonaa").empty();
									 body.find("#buttonaa").append("<button type='button' class='layui-btn update'>修改</button><button type='button' class='layui-btn fanhui'>返回</button>");
									 iframe.loadClient();
								}
			            	});
			            }
			      break;
			      case 'del':
			    	  if(data.length === 0){
			              layer.msg('请选择一行');
			            }else{
			            	return layer.confign("确认删除吗？",function(){
			            	$.ajax({
			            		url:'/ClientRelations_action/deletePlan',
			            		type:'post',
			            		data:'planId='+data[0].planId,
			            		success:function(msg){
			            			layer.msg(msg.msg);
			            			$(".refer_but").click();
			            		}
			            		,error:function(){
			            			layer.alert("网络连接失败");
			            		}
			            	});
			            	});
			            }
			      break;
			    };
			  });
			
			  $(".refer_but").on('click',function() {
				    table.reload('test',{
				        method:'post',
				        where:{
							month:$("#month").val()
				        }
				    });
				});
			$(".add_but").click(function() {
				layer.open({
					type : 2,
					anim : 3,
					area : [ '700px', '600px' ],
					title: '计划信息',
					content : 'DevelopPlanAdd.html',
					success:function(layero,index){
						 var body = layer.getChildFrame('body', index);
						 var iframe = window['layui-layer-iframe'+index]
						 body.find("#buttonaa").empty();
						 body.find("#buttonaa").append("<button type='button' class='layui-btn add'>增加</button><button type='button' class='layui-btn fanhui'>返回</button>");
						 iframe.loadClient();
					}
				});
			})
		});
		layui.use('laydate', function() {
			var laydate = layui.laydate;
			//执行一个laydate实例
			laydate.render({
				elem : '#month' //指定元素
			});
		});
		function referclick(){
			$(".refer_but").click();
		}
	</script>
</body>
</html>