<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layui/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>客户价值管理</title>
<style type="text/css">
</style>
</head>

<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span > <a href="">首页</a> <a href="">客户管理</a> <a><cite>客户价值管理</cite></a>
				</span>
				<!--<h2 class="title">客户资源管理</h2> class="layui-breadcrumb"-->
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="form-box">
						<div class="layui-form layui-form-item">
							<div class="layui-inline">
								<div class="layui-form-mid">客户姓名：</div>
								<div class="layui-input-inline">
							       <input type="text" name="" class="layui-input staffName">   
							    </div>
							    <div class="layui-form-mid">类型：</div>
								<div class="layui-input-inline">
									<select class="cliType">
										<option value="普通">普通客户</option>
										<option value="银卡">银卡客户</option>
										<option value="金卡">金卡客户</option>
										<option value="vip">vip客户</option>
									</select>
							    </div>
								<button class="layui-btn layui-btn-blue refer_but">查询</button>
							</div>
						</div>
						<button class="layui-btn layui-btn-blue add_but">
							<i class="layui-icon">&#xe654;</i>添加
						</button>
						<table class="layui-hide" id="test" lay-filter="test"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../layui/layui.js"></script>
<script>
layui.use(['table'], function(){
  var table = layui.table;
  table.render({
    elem: '#test'
   	,url: '../../../queryWorth'
    ,toolbar: '#toolbarDemo'
    ,cols: [[
      {field:'clientId', width:80, title: '', sort: true}
      ,{field:'add', width:100, title: '' ,type: 'radio'}
      ,{field:'clientName', width:200, title: '客户姓名', align: 'center'}
      ,{field:'sex', width:100, title: '性别'}
      ,{field:'clientType',width:160, title: '客户类型', minWidth: 100}
      ,{field:'consumptionTimes', width:100, title: '已消费次数'}
      ,{field:'totalConsumptionAmount', width:200, title: '消费总额(单位：万元)'}
      ,{field:'staffName', width:120, title: '服务代表'}
    ]]
    ,page: true
    ,limits: [2,5,8]
  });
  
	//监听工具条
	table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	   	var data = obj.data; //获得当前行数据
	   	console.log(data);
	   	var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	   	var tr = obj.tr; //获得当前行 tr 的DOM对象
	   	if(layEvent == 'see') { //查看
	
	   	} else if(layEvent === 'edit') { //修改
			
	   	}else if(layEvent == 'allot'){//分配
	   		
	   	}
	});
	$(".refer_but").on('click',function(){
		table.reload('test',{
	        method:'post',
	        where:{
	        	clientName:$(".staffName").val(),
				clientType:$(".cliType").val()
	        }
	    });
	});
	$(".add_but").click(function(){
		
	})
});

</script>
</body>
</html>